@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --box-shadow: 0px 1px 1px rgba(0,0,0,0.363);
}

body{
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

ul{
    list-style:none;
    padding: 0;
}

a{
    text-decoration: none;
    color: black;
}

h1{
    font-size: 48px;
}

h2{
    font-size: 48px;
    font-weight: 600;
}

h3{
    font-size: 36px;
}

h5{
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

.header-container{
    box-sizing: border-box;
    max-width: 1400px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 0 15px;
    align-items: center;
}

.container{
    box-sizing: border-box;
    max-width: 1600px;
    margin: 0 auto;
}

.header{
    height: 80px;
    background-color: white;
    box-shadow: var(--box-shadow);
}

.header-list{
    text-transform: uppercase;
}

.sp-logo{
    position: fixed;
    top: 1.3%;
    left: 20%
}

.home{
    align-items:center:
}

.home-title{
    margin-top: 20px;
    margin-bottom: 50px;
}

.home-card{
    width:200px;
    height:350px;
    border: 1px solid grey;
    border-radius: 5px;
    transition: all 0.5s ease;
    background-color: white;
}

.title-card{
    max-width: 185px;
    margin-top: 20px;
    min-height: 70px;
}

.home-card:hover {
    border: 1px solid black
}

.card-img{
    width:195px;
    height: 195px;
}

.price{
    font-size:20px;
    font-weight: 700;
    margin-top: -10px;
}

.home-btn{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 50px;
    border: 1px solid grey;
    border-radius: 5px;
    transition: all 0.4s ease;
    z-index: 2;

}

.home-btn:hover{
    border: 1px solid black
}

.detail-image{
    width: 650px;
    height: 650px
}

.detail-sauna{
    margin-top: 80px
}

.detail-description{
     margin-left: 40px;
     margin-top: 40px;
}

.detail-description p{
    margin-top: 30px;
    max-width: 700px;
}

.detail-description h2 span{
    font-size:56px;
}

.cart-discount{
    margin-top: -10px;
    font-weight: 600;
}

.cart-discount .price{
    margin-top: -1px;
}

.line{
    opacity: 0.7;
    text-decoration: line-through;
    font-weight: 300;
}

.cart-btn{
    width: 180px;
    height: 50px;
    border: 1px solid grey;
    border-radius: 5px;
    transition: all 0.4s ease;
    z-index: 2;
    margin-top: 20px;
}

.cart-btn:hover{
    border: 1px solid black
}

.main{
    margin-left:150px;
}

.main-title{
    font-size: 36px;
    margin-bottom: 10px;
    margin-top: 65px;
}

.items {
    display: grid;
    grid-template-columns: repeat(auto-fill, 255px);
    width: 100px;
    max-width: 1300px;
    justify-content: center;
    justify-items: center;
    column-gap: 0px;
    row-gap: 10px;
    margin: 0 auto;
}

.sidebar{
    margin-top: 70px;
}

.llist{
    margin-left: -80px;
}

.sidebar ul li {
    font-size: 16px;
    width: 180px;

    margin-bottom: 15px;
}

.sidebar ul li a {
    margin-left: 5px;
    width: 165px;
}

.sidebar ul {
    margin-top: 20px;
}

.selected {
    border: 1px solid black;
    border-radius: 5px;
}