{% extends 'users/base.html' %}
{% load static %}

{% block title %}Бронь{% endblock title %}

{% block content %}
    <section class="booking d-flex">
      <div class="booking-title">
        <h2>Бронирование</h2>
      </div>
      <div class="booking-cards">
        {% for item in booking %}
          {% with sauna=item.sauna %}
            <div class="booking-card d-flex">
              <div class="booking-card-img">
                <img src="{% if sauna.image %}{{sauna.image.url}}{%else%}{% static 'img/noimage.png' %}{% endif %}" alt="">
              </div>
              <div class="booking-card-info">
                <div class="booking-card-name">
                  <p>{{ sauna.name }}</p>
                </div>
                <div class="booking-card-q">
                  <p>Кол-во: {{ item.quantity }}</p>
                </div>
              </div>
              <form action="{% url "booking:booking_remove" sauna.id %}" method="post">
                  <input type="submit" value="Удалить" class="remove-btn">
              {% csrf_token %}
              </form>
              <div class="booking-card-price">
                    {% if sauna.discount %}
                      <div class="card-discount d-flex gap-2">
                          <p class="line">{{ sauna.price_per_hour }}</p>
                          <p class="price">{{ sauna.sell_price }}</p>
                      </div>
                    {% else %}
                      <p class="price">{{ sauna.price_per_hour }}</p>
                    {% endif %}
              </div>
            </div>
            {% endwith %}
        {% endfor %}
      </div>
      <div class="total">
        <h5>Общая сумма: $ {{ booking.get_total_price }}</h5>
      </div>
      <div class="booking-buttons d-flex gap-3">
        <a href="/shop" class="booking-btn">Продолжить покупки</a>
        {% with booking_quantity=booking|length %}
          {% if booking_quantity > 0 %}
            <a href="#" class="booking-btn">Оформить</a>
          {% endif %}
        {% endwith %}       
      </div>
    </section>
{% endblock content %}

{%extends