{% extends "users/base.html" %}
{% load static %}

{% block title %}Создание заказа{% endblock title %}

{% block content %}
  <div class="forcreate">
    <div class="profile bg-white p-4 mb-4 mx-2">
      <h2 class="mb-2">Создать заказ</h2>
      <form action="" class="order-form" method="post">
        {% csrf_token %}
        <div class="col-md-12 mb-3">
          <label for="id_first_name" class="form-label">Полное имя</label>
          <input type="text" class="form-control form-style-profile"
          id="id_first_name" name="first_name" placeholder="Ваше имя" value="{{form.first_name.value|default:''}}" required>
        </div>
        <div class="col-md-12 mb-3">
          <label for="id_last_name" class="form-label">Фамилия</label>
          <input type="text" class="form-control form-style-profile"
          id="id_last_name" name="last_name" placeholder="Ваша фамилия" value="{{form.last_name.value|default:''}}" required>
        </div>
        <div class="col-md-12 mb-3">
          <label for="id_email" class="form-label">Email</label>
          <input type="text" class="form-control form-style-profile"
          id="id_email" name="email" placeholder="Ваш Email" value="{{form.email.value|default:''}}" required>
        </div>

        <div class="col-md-12 mb-3">
          <label for="id_address" class="form-label">Адрес</label>
          <input type="text" class="form-control form-style-profile"
          id="id_address" name="address" placeholder="Ваш адрес" value="{{form.address.value|default:''}}" required>
        </div>
        <div class="col-md-12 mb-3">
          <label for="id_postal_code" class="form-label">Почтовый индекс</label>
          <input type="text" class="form-control form-style-profile"
          id="id_postal_code" name="postal_code" placeholder="Ваш почтовый индекс" value="{{form.postal_code.value|default:''}}" required>
        </div>
        <div class="col-md-12 mb-3">
          <label for="id_city" class="form-label">Город</label>
          <input type="text" class="form-control form-style-profile"
          id="id_city" name="city" placeholder="Ваш город" value="{{form.city.value|default:''}}" required>
        </div>
        <p><input type="submit" value="Заказать"></p>
        {% csrf_token %}
      </form>
    </div>
    <div class="checkout">
      <h1>Откладка</h1>
      <div class="order-info">
        {% for item in booking %}
          <li>
            {{ item.quantity }} x {{ item.sauna.name}}
            <p>{{item.total_price}}₸</p>
          </li>
          <p>Всего: {{ booking.get_total_price }}₸</p>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock content %}