{% extends 'users/base.html' %}
{% load static %}

{% block title %} Главная {% endblock title %}

{% block content %}
    <section class="home d-flex flex-column">
        <div class="home-title d-flex flex-column align-items-center">
            <a href="#" class="home-btn mt-4">Все сауны</a>
        </div>
        <div class="home-recomendation">
            <div class="rec-title mb-4">
                <h3><span>Популярные сауны</span></h3>
            </div>
        </div>
        <div class="home-cards d-flex gap-4">
            {% for sauna in saunas %}
                <a href="{{ sauna.get_absolute_url }}" class="home-card d-flex flex-column align-items-center text-center">
                    <img src="{% if sauna.image %}{{sauna.image.url}}{%else%}{% static 'img/noimage.png' %}{% endif %}" class="card-img" alt="">
                    <h5 class="title-card">{{sauna.name}}</h5>
                    {% if sauna.discount %}
                        <div class="card-discount d-flex gap-2">
                            <p class="line">{{ sauna.price_per_hour }}₸</p>
                            <p class="price">{{ sauna.sell_price }}₸</p>
                        </div>
                    {% else %}
                        <p class="price">{{ sauna.price_per_hour }}₸</p>
                    {% endif %}
                    <p class="fs-7 mb-1">в час</p>
                </a>
            {% endfor %}
        </div>
    </section>


{% endblock content %}