{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock title %}</title>

    <!--    bootstrap-->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}">
    <!--  css  -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <header class="header sticky-top">
        <div class="header-container d-flex">
            <div class="header-logo">
                <a href="/shop"><img src="{% static 'img/logo.png' %}" alt="" class="sp-logo"></a>
            </div>
            <navbar class="header-nav pt-4">
                <ul class="header-list d-flex">
                    <li>
                        <a href="/" class="nav-a m-3">Главная</a>
                    </li>
                    <li>
                        <a href="/shop" class="nav-a m-3">Каталог</a>
                    </li>
                    <li>
                        <a href="#" class="nav-a m-3">Бронь</a>
                    </li>
                    <li>
                        <a href="#" class="nav-a m-3">Отзывы</a>
                    </li>
                </ul>
            </navbar>
            <div class="header-profile pt-2">
                <a href="{% url "booking:booking_detail" %}"><img src="{% static 'img/venik.png' %}" class="venik" alt=""></a>
                <a href="{% url "registration:login" %}" class="m-3">Войти</a>
                <p class="booking-quantity">
                  {% with booking_quantity=booking|length %}
                    {% if booking_quantity > 0 %}
                      {{ booking_quantity }}
                    {% else %}
                      0
                    {% endif %}
                  {% endwith %}
                </p>
            </div>
        </div>
    </header>
    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>

    <!--    js for bootstrap-->
    <script src="{% static 'bootstrap\js\bootstrap.bundle.min.js' %}"></script>
</body>
</html>