{% extends 'users/base.html' %}
{% load static %}

{% block title %} {{sauna.name}} {% endblock title %}

{%block content%}
    <div class="detail-sauna d-flex gap-3">
        <div class="detail-img">
            <img src="{% if sauna.image %}{{sauna.image.url}}{%else%}{% static 'img/noimage.png' %}{% endif %}" alt="" class="detail-image">
        </div>
        <div class="detail-description">
                <h2>{{sauna.name}}</h2>
                <h3>Категория: {{ sauna.category }} </h3>
                <p>Описание: {{sauna.description|linebreaks}} </p>
                {% if sauna.discount %}
                    <div class="card-discount d-flex gap-2">
                        <p class="line">$ {{ sauna.price_per_hour}}</p>
                        <p>$ {{ sauna.sell_price }}</p>
                    </div>
                {% else %}
                    <p class="price">$ {{ sauna.price_per_hour }}</p>
                {% endif %}
                <form action="{%url "booking:booking_add" sauna.id%}" class="qform" method="post">
                  <div class="booking-form">
                    {{ booking_sauna_form }}
                    {% csrf_token %}
                  </div>
                  <input type="submit" class="add-to-booking-btn" value="Забронировать">
                </form>
            </div>
    </div>
{%endblock content%}