{% extends 'users/base.html' %}
{% load static %}

{% block title %}Shop{% endblock title %}

{% block content %}
  <div class="llist d-flex">
    <div class="sidebar">
      <h3>Категории</h3>
      <ul>
        <li {% if not category %}class="selected"{% endif %}>
          <a href="{% url "users:saunas_list" %}">Все</a>
        </li>
        {% for c in categories %}
          <li {% if category.slug == c.slug%}class ="selected" {% endif %}>
            <a href="{{ c.get_absolute_url}}">{{c.name}}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="main">
      <div class="main-title">
        {% if category %} {{category.name}} {%else%} Сауны {% endif %}
      </div>
      <div class="saunas-list">
        <div class="items">
          {% for sauna in saunas %} 
            <div class="item">
              <a href="{{ sauna.get_absolute_url }}" class="home-card d-flex flex-column align-items-center text-center">
                <img src="{% if sauna.image %}{{sauna.image.url}}{%else%}{% static 'img/noimage.png' %}{% endif %}" class="card-img" alt="">
                <h5 class="title-card">{{sauna.name}}</h5>
                {% if sauna.discount %}
                    <div class="card-discount d-flex gap-2">
                        <p class="line">{{ sauna.price_per_hour }}</p>
                        <p class="price">{{ sauna.sell_price }}</p>
                    </div>
                {% else %}
                    <p class="price">{{ sauna.price_per_hour }}</p>
                {% endif %}
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
      <ul class="pagination">
        <li class="{%if not saunas.has_previous %} disabled {% endif %}">
          <a href="{% if saunas.has_previous %}?page={{saunas.previous_page_number}}{% endif %}">Предыдущий</a>
        </li>
        {% for page in saunas.paginator.page_range %}
          {% if page >= saunas.number|add:-2 and page <= saunas.number|add:2%}
            <li>
              <a href="?page={{page}}" class="{% if saunas.number == page %} disabled {% endif %}">{{ page }}</a>
            </li>
          {% endif %}
        {% endfor %}
        <li class="{%if not saunas.has_next %} disabled {% endif %}">
          <a href="{% if saunas.has_next %}?page={{saunas.next_page_number}}{% endif %}">Следующий</a>
        </li>
      </ul>
    </div>
  </div>
{% endblock content %}